.container{
    margin-top: 20px;
}
.add-btn {
    position: sticky;
    left: 75%;
    background-color: #1773d5f6;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
table.center{
    margin-left: auto;
    margin-right: auto;  
    position: relative;
    margin-top: 10px;
    border: 1px solid grey;
}
.table-container {
    max-height: 500px;
    overflow-y: auto;

  }
.center{
    border-collapse: collapse;
    width: 70%;
    margin-top: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
}
thead th{
    background-color: rgb(14, 60, 65);
    position: relative;
    top: 0;
    z-index: 1;
}

.center tr{
    padding: .45rem;
}
thead tr{
    background-color: green;
}
tbody tr:nth-child(even){
    background-color: #eaeaea;
}

.center th,
.center td{
    font-size: 1em;
    padding: 1em;
    text-align: center;
}
thead th{
    color : #fff;
    font-size: 1.15em;
}
tr td a{
    cursor: pointer;
    font-size: larger;
}

.table-container table thead th {
    position: sticky;
    top: 0;
    color: #fff;
    font-size: 1.15em;
  }
@media (max-width:640px) {
    .center{
        border: 3px solid rgb(14, 60, 65);
    }
    .center thead tr{
        display: none;
    }
    .center tr{
        display: block;
    }

    .center th, table td{
        padding: .5em;
    }
    .center td{
        text-align: right;
        display: block;
        font-size: 1em;
    }

    .center td::before{
        content: attr(data-title) ": ";
        float: left;
    }
    tbody tr:nth-child(even){
        background-color: rgb(14, 60, 65);
        color: #fff;
    }
    
}